body{
    margin: 0;
    background-color: rgb(98, 97, 93);
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 7em;
    font-weight: bold;
    text-align: center;
    color: aqua;

}